#header{background-color:red;
  color:white;
text-align:center;
height:70px;
width:90%;
top:20px;}

#content{background-color:green;
color:white;
width:90%;
height:540px;
padding-top:16px;
font-size:13px;}

#footer{background-color:blue;
color:white;
width:90%;
height:65px;
padding-top:16px;
font-size:13px;}
