#logo{width:100px;
height:90px;
margin-left:150px;
}


#header{background-color:#A30109;
color:white;
font-size:30px;
font-style:Italic;
text-align:center;
width:800px;
height:90px;
display:inline-block;
padding-bottom:16px;}

.nav{background-color:#3CBAAD;
width:136px;
height:900px;
padding-top:16px;
margin-left:100px;
position:fixed;
padding-left:20px;}

.content{width:690px;
margin-left:300px;
}

#pic1,#pic2,#pic3{width:500px;
height:300px;
}

#foot1,#foot2,#foot3{width:30px;
height:30px;}

.footer{background-color:#A30109;
  color:white;
width:800px;
height:150px;
margin-left:250px;
padding-left:30px;}

#big1,#big2,#big3{font:Lucida;
font-size:30px;}
#small1,#small2,#small3{font:lucida;
font-size:17px;}
